{% extends "home_page/page_template.html" %}
{% block login_status %}

    {% if user.is_authenticated %}
        <li><a href='/logout/'>Log out</a></li>
    {% else %}
        <li><a href='/login/'>Log in</a></li>
        <li><a href='/register/'>Register</a></li>
    {% endif %}

{% endblock %}
{% block content %}
    {% for animal in object_list %}
        {% if animal.is_visible%}
            <h3><a href="/animals/{{ animal.id }}">{{ animal.name }} </a></h3>
            <h4>Species: {{ animal.species }} | Color: {{ animal.color }}</h4>
        {% endif %}
    {% endfor %}
{% endblock %}